@model library_prototype.Models.MultipleModel.BookInformationVM
<script>
    function Message(error, message) {
        if (error == false) {
            UIkit.notify(message, { status: 'success', timeout: 5000, pos: 'bottom-right' });
        }
        else if (error == true) {
            UIkit.notify(message, { status: 'warning', timeout: 0, pos: 'bottom-right' });
        }
    }
    @if (Model.Error != null)
    {
        foreach (var error in Model.Message)
        {
            @:Message(@Model.Error.ToString().ToLower(), @Html.Raw("'"+ error+"'"));
        }
    }
</script>
<div class="uk-width-medium-1-3 uk-text-center">
    @if (Model.Book.Subject.CallNo >= 0 && Model.Book.Subject.CallNo <= 99)
            {
        <img src="@Url.Content("~/Image/default/subject/Class-000.png")" class="uk-thumbnail" />
    }
    else if (Model.Book.Subject.CallNo >= 100 && Model.Book.Subject.CallNo <= 199)
    {
        <img src="@Url.Content("~/Image/default/subject/Class-100.png")" />
    }
    else if (Model.Book.Subject.CallNo >= 200 && Model.Book.Subject.CallNo <= 299)
    {
        <img src="@Url.Content("~/Image/default/subject/Class-200.png")" />
    }
    else if (Model.Book.Subject.CallNo >= 300 && Model.Book.Subject.CallNo <= 399)
    {
        <img src="@Url.Content("~/Image/default/subject/Class-300.png")" />
    }
    else if (Model.Book.Subject.CallNo >= 400 && Model.Book.Subject.CallNo <= 499)
    {
        <img src="@Url.Content("~/Image/default/subject/Class-400.png")" />
    }
    else if (Model.Book.Subject.CallNo >= 500 && Model.Book.Subject.CallNo <= 599)
    {
        <img src="@Url.Content("~/Image/default/subject/Class-500.png")" />
    }
    else if (Model.Book.Subject.CallNo >= 600 && Model.Book.Subject.CallNo <= 699)
    {
        <img src="@Url.Content("~/Image/default/subject/Class-600.png")" />
    }
    else if (Model.Book.Subject.CallNo >= 700 && Model.Book.Subject.CallNo <= 799)
    {
        <img src="@Url.Content("~/Image/default/subject/Class-700.png")" />
    }
    else if (Model.Book.Subject.CallNo >= 800 && Model.Book.Subject.CallNo <= 899)
    {
        <img src="@Url.Content("~/Image/default/subject/Class-800.png")" />
    }
    else if (Model.Book.Subject.CallNo >= 900 && Model.Book.Subject.CallNo <= 999)
    {
        <img src="@Url.Content("~/Image/default/subject/Class-900.png")" />
    }
</div>
<div class="uk-width-medium-2-3">
    <div class="uk-grid" data-uk-grid-match>
        <div class="uk-width-medium-1-3 uk-margin-bottom">
            <div class="uk-grid">
                <div class="uk-width-medium-6-6">
                    <h3 class="uk-text-bold"><i class="uk-icon uk-text-primary uk-icon-users"></i> Author</h3>
                    @foreach (var author in Model.Book.BooksAuthors.Where(b=>b.Deleted == false).ToList())
                    {
                        <p class="uk-margin-remove">
                            @Html.DisplayFor(modelItem => author.Author.LastName), @Html.DisplayFor(modelItem => author.Author.FirstName) @Html.DisplayFor(modelItem => author.Author.MiddleInitial).
                        </p>
                    }
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-3 uk-margin-bottom">
            <div class="uk-grid">
                <div class="uk-width-medium-6-6">
                    <h3 class="uk-text-bold">
                        <i class="uk-icon uk-text-primary uk-icon-book"></i>
                        Subject
                    </h3>
                    <p class="uk-margin-top-remove">
                        @Html.DisplayFor(b => b.Book.Subject.CallNo) - @Html.DisplayFor(b => b.Book.Subject.Subject)
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-3 uk-margin-bottom">
            <div class="uk-grid">
                <div class="uk-width-medium-6-6">
                    <h3 class="uk-text-bold">
                        <i class="uk-icon uk-text-primary uk-icon-building"></i>
                        Publisher
                    </h3>
                    <p class="uk-margin-top-remove">
                        @Html.DisplayFor(b => b.Book.Publisher.PublisherName)
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-3 uk-margin-bottom">
            <div class="uk-grid">
                <div class="uk-width-medium-6-6">
                    <h3 class="uk-text-bold">
                        <i class="uk-text-primary uk-icon-info"></i> Other Information
                    </h3>
                    <p class="uk-margin-remove">Copyright: @Html.Raw(Model.Book.Copyright.Year)</p>
                    <p class="uk-margin-remove">Volume: @Html.DisplayFor(b => b.Book.Volume)</p>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-3 uk-margin-bottom">
            <div class="uk-grid">
                <div class="uk-width-medium-6-6" id="rating-section">
                    <h3 class="uk-text-bold"><i class="uk-icon uk-text-primary uk-icon-star"></i> Ratings</h3>
                    <p class="uk-margin-remove">
                        @if (Model.Book.Ratings.Count >= 1)
                        {
                            var rating = Model.Book.Ratings.ToList();
                            int ave = (int)Math.Ceiling(rating.Select(r => r.Rate).Average());
                            int sum = rating.Select(r => r.Rate).Sum();
                            int total = Model.Book.Ratings.Count() * 2;
                            if (ave < 1)
                            {
                                <i class="uk-icon-star-o"></i>
                            }
                            else if (ave == 1)
                            {
                                <i class="uk-icon-star-half"></i>
                            }
                            else if (ave > 1)
                            {
                                <i class="uk-icon-star"></i>
                            }
                            @Html.Raw(sum + " out of " + total + " points")
                        }
                        else if (Model.Book.Ratings.Count == 0)
                        {
                            @Html.Raw("Be the first to rate")
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-8-10 uk-margin-bottom">
            <div class="uk-grid">
                <div class="uk-width-medium-9-10">
                    <h3 class="uk-text-bold"><i class="uk-icon uk-text-primary uk-icon-language"></i> Description</h3>
                    <p class="uk-margin-remove">
                        @Html.Raw(Model.Book.Synopsis)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>